{{define "body"}}


<form method="POST">
    <input type="hidden" name="id" value="" />
    <label>DocType</label><br>
    <input type="text" name="DocType" value="" /><br><br>
    <label>KindOfDoc</label><br>
    <input type="text" name="KindOfDoc" value="" /><br><br>
    <label>DocLabel</label><br>
    <input type="text" name="DocLabel" value="" /><br><br>
    <label>RegDate</label><br>
    <input type="date" name="RegDate" value="" /><br><br>
    <label>RegNumber</label><br>
    <input type="text" name="RegNumber" value="" /><br><br>
    <label>Description</label><br>
    <input type="text" name="Description" value="" /><br><br>
    <label>FileOriginal</label><br>
    <input type="text" name="FileOriginal" value="" /><br><br>
    <label>FileCopy</label><br>
    <input type="text" name="FileCopy" value="" /><br><br>
    <label>Author</label><br>
    <input type="text" name="UserID" value="" /><br><br>
    <label>Current</label><br>
    <input type="text" name="Current" value="" /><br><br>
    <input type="submit" value="Send" />
</form>
{{end}}