<? require($_SERVER["DOCUMENT_ROOT"]."/bitrix/header.php");
$APPLICATION->SetTitle("Вопросы и ответы");
?>
<div class="App__body" role="main">
    <div class="accordion">
        <h1 class="mb-0 Title">Вопросы и ответы</h2><br>
        <h3 class="mb-0 Title">Как купить</h3><br>
        <p>С заказом в нашем онлайн гипермаркете «Зебра» справится даже ребенок. Главное преимущество такого заказа – это то, что вы оформляете его не выходя из дома прямо со своего смартфона или компьютера. Для этого выберите одну из функций заказа: «Оформить заказ» или «Быстрый заказ».</p>
        <div class="card">
            <div class="card-header Faq-modules__QuestionList" id="heading1">
                <div class="Accordion__title Accordion__title_nowrap collapsed" data-toggle="collapse" data-target="#collapse1" aria-expanded="false" aria-controls="collapse1">
                Быстрый заказ
				</div>
				<div class="Accordion__arrow"><svg class="Icon Accordion__arrowIcon Accordion__arrowIcon_themed" viewBox="0 0 33 28" width="33" height="28"><use xlink:href="#arrow-down"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 13 8" id="arrow-down" width="100%" height="100%"><path fill="currentColor" fill-rule="evenodd" d="M10.722.797c.39-.386 1.02-.39 1.41-.002l.07.07a.982.982 0 01-.005 1.4L7.21 7.2c-.393.39-1.03.39-1.42 0L.8 2.264a.983.983 0 01-.003-1.4l.07-.07a1.01 1.01 0 011.408.004L6.5 4.978 10.72.795z"></path></svg></use></svg></div>

            </div>

            <div id="collapse1" class="collapse" aria-labelledby="heading1">
            <div class="card-body Text-modules__Block"><p>
                Благодаря этой услуге вы можете быстро получить дополнительную информацию об интересующих вас товарах. Ответьте на вопросы в анкете и в течение короткого времени с вами свяжется наш менеджер. Он будет готов ответить на все ваши вопросы о товарах, согласует с вами условия заказа и время доставки.
                Далее вы можете оформить свой заказ самостоятельно на нашем сайте или же оставить его в согласованном с менеджером виде и ждать доставки товара. Оформив заказ, вы незамедлительно получите уведомление о заказе на электронную почту или телефон.
                </p>
            </div>
            </div>
        </div>
        <div class="card">
            <div class="card-header" id="heading2">

                <div class="Accordion__title Accordion__title_nowrap collapsed" data-toggle="collapse" data-target="#collapse2" aria-expanded="false" aria-controls="collapse2">
                Стандартный заказ
                </div>
<div class="Accordion__arrow"><svg class="Icon Accordion__arrowIcon Accordion__arrowIcon_themed" viewBox="0 0 33 28" width="33" height="28"><use xlink:href="#arrow-down"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 13 8" id="arrow-down" width="100%" height="100%"><path fill="currentColor" fill-rule="evenodd" d="M10.722.797c.39-.386 1.02-.39 1.41-.002l.07.07a.982.982 0 01-.005 1.4L7.21 7.2c-.393.39-1.03.39-1.42 0L.8 2.264a.983.983 0 01-.003-1.4l.07-.07a1.01 1.01 0 011.408.004L6.5 4.978 10.72.795z"></path></svg></use></svg></div>

            </div>
            <div id="collapse2" class="collapse" aria-labelledby="heading2">
            <div class="card-body">
                Вы можете оформить заказ самостоятельно, если уверены в своем выборе и не нуждаетесь в дополнительной информации о выбранном товаре. Для этого внимательно заполните все поля формы заказа.<br>
                1. Укажите свой адрес. Выберите свой населенный пункт из предложенных вариантов. В случае, если вы не нашли свой город, впишите его название в графу «Другое местоположение». Укажите также свой индекс.<br>
                2. Выберите способ доставки. В зависимости в вашего местоположения мы предложим вам несколько способов доставки. Об условиях доставки читайте в разделе «Доставка».<br>
                3. Мы предлагаем вам несколько способов оплаты. В форме заказа отметьте наиболее удобный для вас. С условиями оплаты можно ознакомиться в разделе «Оплата».<br>
                4. Заполните информацию о себе. Укажите свою фамилию и имя, адрес доставки, а также номер телефона, по которому курьер сможет с вами связаться для передачи заказа. В дополнительном окне «Комментарии к заказу» укажите информацию, которую необходимо знать курьеру (например, номер подъезда или гостиничного номера, этаж).<br>
                5. Проверьте все указанные данные и правильность самого заказа. Отправьте заказ, нажав клавишу «Оформить заказ».<br>
                6. Указанные вами данные будут сохранены для следующих покупок. Если сведения о Вас изменились или вам удобен другой способ оплаты, просто замените их.<br>
            </div>
            </div>
        </div>
        <br>
		<h2 class="mb-0 Title">Оплата</h2><br>
        <div class="card">
            <div class="card-header" id="heading3">

                <div class="Accordion__title Accordion__title_nowrap collapsed" data-toggle="collapse" data-target="#collapse3" aria-expanded="false" aria-controls="collapse3">
                Условия оплаты
                </div>
<div class="Accordion__arrow"><svg class="Icon Accordion__arrowIcon Accordion__arrowIcon_themed" viewBox="0 0 33 28" width="33" height="28"><use xlink:href="#arrow-down"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 13 8" id="arrow-down" width="100%" height="100%"><path fill="currentColor" fill-rule="evenodd" d="M10.722.797c.39-.386 1.02-.39 1.41-.002l.07.07a.982.982 0 01-.005 1.4L7.21 7.2c-.393.39-1.03.39-1.42 0L.8 2.264a.983.983 0 01-.003-1.4l.07-.07a1.01 1.01 0 011.408.004L6.5 4.978 10.72.795z"></path></svg></use></svg></div>

            </div>

            <div id="collapse3" class="collapse" aria-labelledby="heading3">
            <div class="card-body"><p>
                Оплатить заказ в нашем онлайн гипермаркете возможно тремя способами: наличными, безналичным расчетом или через электронную систему.<br>
                1. При выборе оплаты заказа наличными вы передаете деньги курьеру, который доставит товар. Во время доставки вы можете проверить качество товара. Затем курьер вам предложит подписать товаросопроводительные документы, а также передаст чек, подтверждающий факт покупки.<br>
                Оплатить наличными вы также сможете в случае самовывоза товара, доставки почтой или при использовании постамата.<br>
                2.  Для моментальной оплаты картой воспользуйтесь безналичным расчетом. Для онлайн оплаты вы будете перенаправлены на сайт платежной системы ASSIST, которая предложит вам внести данные карты.<br>
                Мы заранее предупреждаем, что оплата может не состояться в случае, если ваш банк не осуществляет такой способ оплаты или в сведениях о карте есть ошибка.<br>
                Вы также можете заплатить картой в случае самовывоза товара, доставки почтой или при использовании постамата.<br>
                3. Если вам удобнее оплатить заказ через платежную систему, выберите одну из них: WebMoney, PayPal или Яндекс.Деньги. В новом окне откроется страница с формой для оплаты.<br>

                </p>
            </div>
            </div>
        </div>
        <br>
        <h3 class="mb-0 Title">ДОСТАВКА</h3><br>
        <p>
        Выберите любой удобный способ доставки заказа из нижеперечисленных:<br>
        </p>
        <div class="card">
            <div class="card-header" id="heading4">

                <div class="Accordion__title Accordion__title_nowrap collapsed" data-toggle="collapse" data-target="#collapse4" aria-expanded="false" aria-controls="collapse4">
                Доставка курьерской службой
                </div>
                <div class="Accordion__arrow"><svg class="Icon Accordion__arrowIcon Accordion__arrowIcon_themed" viewBox="0 0 33 28" width="33" height="28"><use xlink:href="#arrow-down"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 13 8" id="arrow-down" width="100%" height="100%"><path fill="currentColor" fill-rule="evenodd" d="M10.722.797c.39-.386 1.02-.39 1.41-.002l.07.07a.982.982 0 01-.005 1.4L7.21 7.2c-.393.39-1.03.39-1.42 0L.8 2.264a.983.983 0 01-.003-1.4l.07-.07a1.01 1.01 0 011.408.004L6.5 4.978 10.72.795z"></path></svg></use></svg></div>

            </div>

            <div id="collapse4" class="collapse" aria-labelledby="heading4">
                <div class="card-body">
                <p>
                    Доставка курьерской службой осуществляется в рабочие дни с 9 до 19 часов. Курьер привезет ваш заказ по указанному адресу, предварительно договорившись с вами о времени. Мы рекомендуем открыть коробку с товаром в присутствии курьера, чтобы проверить заказ и убедиться в качестве и соответствии заявленной информации о купленном товаре. Если ваш заказ содержит одежду или обувь, примерьте.<br>
                    Бесплатная доставка возможна при заказе на сумму 3000 рублей.<br> </p>
                </div>
            </div>
        </div>
        <div class="card">
            <div class="card-header" id="heading5">

                <div class="Accordion__title Accordion__title_nowrap collapsed" data-toggle="collapse" data-target="#collapse5" aria-expanded="false" aria-controls="collapse5">
                Постамат
                </div>
                <div class="Accordion__arrow"><svg class="Icon Accordion__arrowIcon Accordion__arrowIcon_themed" viewBox="0 0 33 28" width="33" height="28"><use xlink:href="#arrow-down"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 13 8" id="arrow-down" width="100%" height="100%"><path fill="currentColor" fill-rule="evenodd" d="M10.722.797c.39-.386 1.02-.39 1.41-.002l.07.07a.982.982 0 01-.005 1.4L7.21 7.2c-.393.39-1.03.39-1.42 0L.8 2.264a.983.983 0 01-.003-1.4l.07-.07a1.01 1.01 0 011.408.004L6.5 4.978 10.72.795z"></path></svg></use></svg></div>

            </div>

            <div id="collapse5" class="collapse" aria-labelledby="heading5">
                <div class="card-body">
                <p>
                    Мы доставляем ваши заказы в постаматы. Вы не будете ограничены временем работы магазина или почты и сможете забрать товар в любое время. Если такой метод доставки наиболее удобен для вас, выберите его во время оформления заказа. Если сеть постаматов  работает в вашем городе, вы сможете это сделать.<br>
                    Вы получите уникальный код на свою электронную почту или телефон в момент, когда ваш заказ будет помещен в постамат. Введите полученный код и оплатите товар.<br>
                </p>
                </div>
            </div>
        </div>
        <div class="card">
            <div class="card-header" id="heading6">

                <div class="Accordion__title Accordion__title_nowrap collapsed" data-toggle="collapse" data-target="#collapse6" aria-expanded="false" aria-controls="collapse6">
                Почтовая доставка
                </div>
                <div class="Accordion__arrow"><svg class="Icon Accordion__arrowIcon Accordion__arrowIcon_themed" viewBox="0 0 33 28" width="33" height="28"><use xlink:href="#arrow-down"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 13 8" id="arrow-down" width="100%" height="100%"><path fill="currentColor" fill-rule="evenodd" d="M10.722.797c.39-.386 1.02-.39 1.41-.002l.07.07a.982.982 0 01-.005 1.4L7.21 7.2c-.393.39-1.03.39-1.42 0L.8 2.264a.983.983 0 01-.003-1.4l.07-.07a1.01 1.01 0 011.408.004L6.5 4.978 10.72.795z"></path></svg></use></svg></div>

            </div>

            <div id="collapse6" class="collapse" aria-labelledby="heading6">
                <div class="card-body">
                <p>
                    В случае, если в вашем населенном пункте нет службы курьерской доставки или специальных терминалов-постаматов, вы можете оформить доставку заказа почтой. Для этого отметьте этот способ доставки во время заказа. Вы получите уведомление о доставке заказа в почтовое отделение по указанному адресу.<br>
                    Прежде чем оплатить заказ, проверьте внешний вид коробки. Если на ней присутствуют повреждения и у вас есть предположения, что целостность товара нарушена, составьте акт о вскрытии коробки вместе с работником почты<br>
                </p>
                </div>
            </div>
        </div>
        
        <div class="card">
            <div class="card-header" id="heading7">

                <div class="Accordion__title Accordion__title_nowrap collapsed" data-toggle="collapse" data-target="#collapse7" aria-expanded="false" aria-controls="collapse7">
                Самовывоз
                </div>
<div class="Accordion__arrow"><svg class="Icon Accordion__arrowIcon Accordion__arrowIcon_themed" viewBox="0 0 33 28" width="33" height="28"><use xlink:href="#arrow-down"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 13 8" id="arrow-down" width="100%" height="100%"><path fill="currentColor" fill-rule="evenodd" d="M10.722.797c.39-.386 1.02-.39 1.41-.002l.07.07a.982.982 0 01-.005 1.4L7.21 7.2c-.393.39-1.03.39-1.42 0L.8 2.264a.983.983 0 01-.003-1.4l.07-.07a1.01 1.01 0 011.408.004L6.5 4.978 10.72.795z"></path></svg></use></svg></div>
           </div>

            <div id="collapse7" class="collapse" aria-labelledby="heading7">
                <div class="card-body">
                    <p>
                        Наш онлайн гипермаркет имеет широкую сеть партнеров, поэтому забрать свой заказ в одном из магазинов партнерской сети. Список точек самовывоза, которые доступны к доставке, вы увидите в разделе «Корзина» при оформлении заказа. Как только ваш заказ будет доставлен в выбранный магазин, вы получите уведомление о доставке на свой телефонный номер или электронную почту.<br>
                        Уникальность: 100%<br>
                    </p>
                </div>
            </div>
        </div>
		<br>
		<h3 class="mb-0 Title">Возврат</h3><br>
        <div class="card">
            <div class="card-header" id="heading8">

                <div class="Accordion__title Accordion__title_nowrap collapsed" data-toggle="collapse" data-target="#collapse8" aria-expanded="false" aria-controls="collapse8">
                Гарантия
                </div>
                <div class="Accordion__arrow"><svg class="Icon Accordion__arrowIcon Accordion__arrowIcon_themed" viewBox="0 0 33 28" width="33" height="28"><use xlink:href="#arrow-down"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 13 8" id="arrow-down" width="100%" height="100%"><path fill="currentColor" fill-rule="evenodd" d="M10.722.797c.39-.386 1.02-.39 1.41-.002l.07.07a.982.982 0 01-.005 1.4L7.21 7.2c-.393.39-1.03.39-1.42 0L.8 2.264a.983.983 0 01-.003-1.4l.07-.07a1.01 1.01 0 011.408.004L6.5 4.978 10.72.795z"></path></svg></use></svg></div>

            </div>

            <div id="collapse8" class="collapse" aria-labelledby="heading8">
                <div class="card-body">
                    <p>
                        Мы отвечаем за качество наших товаров, но в каждом правиле бывают исключения.<br>
                        Если Вам доставили поврежденный товар, вы в праве от него отказаться. В остальных случаях гарантийный срок начинается моментом передачи товара покупателю.<br>
                        Гарантийное обслуживание обеспечивает:<br>
                        • Устранение недостатков продукта в сервисном центре<br>
                        • Обмен на аналогичный товар без доплаты<br>
                        • Обмен на подобный товар с доплатой разницы в цене<br>
                        • Возврат товара и возмещение полной стоимости товара на счет покупателя.<br>
                        <br>
                        Мы гарантируем клиентам возможность возврата товара в течение 7 дней с момента покупки.<br>
                        • Возврат и обмен возможен, если товар не распаковывался, имеет товарный вид и не использовался Покупателем. При возврате необходимо предоставить чек о приобретении данного товара.<br>
                        • Некоторые товары не подлежат обмену и возврату. С полным списком товаров можно ознакомиться на сайте или у менеджеров нашего гипермаркета.<br>
                        Вы можете обменять приобретенный товар надлежащего качества на другой в рамках оплаченной стоимости. Вы также можете обменять на товар с высшей стоимостью при доплате разницы в цене.<br>

                        Мы оставляем за собой право отказать в гарантийном и сервисном обслуживании, если товар потерял работоспособность или был поврежден вследствие его использования, модификации, нарушении его целостности.
                        <br>
                    </p>
                </div>
            </div>
        </div>
    </div>
</div><? require($_SERVER["DOCUMENT_ROOT"] . "/bitrix/footer.php"); ?>